body,
html {
  margin: 0;
  padding: 0;
  cursor: default;
  background-color: var(--bg-color);
  font-family: "Dongle";
}

:root {
  --bg-color: rgb(150, 167, 141);
  --text-color: rgb(240, 240, 240);
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.main-wrapper .galery .col1,
.main-wrapper .galery .col2,
.main-wrapper .galery .col3 {
  display: flex;
  justify-content: center;
}

.main-wrapper .galery .title-menu p {
  font-family: "Rock 3D";
  font-size: 52px;
  color: var(--text-color);
}

.main-wrapper .galery .btn-menu a {
  text-decoration: none;
  color: white;
  border: 1px solid rgb(182, 206, 180);
  padding: 5px 35px;
  font-size: 30px;
}

.main-wrapper .galery .col2 a:hover {
  background-color: rgba(182, 206, 180, 0.5);
}

.main-wrapper .galery .album-content {
  flex-direction: column;
  gap: 100px;
  margin-top: 3pc;
}

.main-wrapper .galery .album-content .col1,
.main-wrapper .galery .album-content .col2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.main-wrapper .galery .album-content .col1 .album,
.main-wrapper .galery .album-content .col2 .album {
  width: 250px;
  height: 260px;
  background-color: white;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.main-wrapper .galery .album-content .col1 .album:hover,
.main-wrapper .galery .album-content .col2 .album:hover {
  transform: translateY(-10px);
}

.main-wrapper .galery .album-content .col1 .rotate8deg,
.main-wrapper .galery .album-content .col2 .rotate8deg {
  transform: rotate(8deg);
}

.main-wrapper .galery .album-content .col1 .rotate2deg,
.main-wrapper .galery .album-content .col2 .rotate2deg {
  transform: rotate(2deg);
}

.main-wrapper .galery .album-content .col1 .rotate-7deg,
.main-wrapper .galery .album-content .col2 .rotate-7deg {
  transform: rotate(-7deg);
}

.main-wrapper .galery .album-content .col1 .rotate-3deg,
.main-wrapper .galery .album-content .col2 .rotate-3deg {
  transform: rotate(-3deg);
}

.main-wrapper .galery .album-content .col1 .album img,
.main-wrapper .galery .album-content .col2 .album img {
  width: 230px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.main-wrapper .galery .album-content .col1 .album P,
.main-wrapper .galery .album-content .col2 .album P {
  margin: 0;
}

.main-wrapper .galery .album-content .col1 .album P.title,
.main-wrapper .galery .album-content .col2 .album P.title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1pc;
}

.main-wrapper .galery .album-content .col1 .album P.description,
.main-wrapper .galery .album-content .col2 .album P.description {
  font-family: "dancing script";
  text-align: center;
  font-size: 12px;
}
